<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @item.Item %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.Price %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
